<h1>Update Profile</h1>

<%= form_tag "/walkers/#{@walker.id}", method: :patch %>

   <div class="form-group">
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @walker.first_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @walker.last_name, :class => "form-control" %>
  </div>

   <div class="form-group">
    <%= label_tag :email %>
    <%= email_field_tag :email, @walker.email, :class => "form-control" %>
  </div> 

   <div class="form-group">
    <%= label_tag :address %>
    <%= text_field_tag :address, @walker.address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :phone_number %>
    <%= phone_field_tag :phone_number, @walker.phone_number, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password, @walker.password, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password_confirmation, "Re-enter Password" %>
    <%= password_field_tag :password_confirmation, nil, :class => "form-control" %>
  </div>
  
  <div class="form-group">
    <%= submit_tag "Update Account", :class => "btn btn-sm btn-success"%>
  </div>
<% end %>