<% @dog = Dog.find(params[:id]) %>


<h1>Welcome To Woof! </h1>
  <div class="row">
    <div class="col-sm-4">
     <div>
       <% if @walker.image_file_name %>
         <%= image_tag @walker.image.url(:thumbnail) %>
       <% end %>
        
        <%= form_for @walker, url: walker_image_path, html: {multipart: true} do |f| %>
          <%= f.file_field :image %>
          <%= submit_tag "Update" %>
        <% end %>


       <h1>My Info:</h1>
         <h4><a href="/walkers/<%= @walker.id %>/edit"><%= @walker.first_name %> <%= @walker.last_name %></a></h4>
       <h5> <%= @walker.email %></h5>
       <h5> <%= @walker.address %> </h4>
       <h5><%= @walker.city %>, <%= @walker.state %> <%= @walker.zip_code %></h5>
       <h5>  <%= @walker.phone_number %></h5>
       <h5>About Me: </h5>
       <h6> <%= @walker.bio %></h6>
     </div>
  </div>
  
  <div class="col-md-4">
    <div>
      <h1>All available walks.</h1> 
    
         <% @walks = Walk.where(status: "walk requested") %>
            <% @walks.each do |walk| %>
           
          
            <h2> <%= link_to "#{walk.name}", "/dogs/#{walk.dog_id}"%> </h2> 
           <h6> <a> <%= link_to "Accept Walk", "/walks/#{walk.id}", method: :patch %> </a> </h6> 
            <% end %>
        </div>
      </div>




  <div class="col-md-4">
    <div>
      <h1>Accepted walks:</h1>
      <% @walks = Walk.where(status: "walk accepted", walker_id: current_walker.id).last(5)%>
              <% @walks.reverse_each do |walk| %>
             <h4> <%= walk.name %> </h4>
              <% end %>
    </div>
  </div>



</div>
