
<div class="container">
  <div class="row">
    <h1>Welcome <%= @current_owner.first_name %>! </h1>


    <% if @owner.image_file_name %>
      <%= image_tag @owner.image.url(:thumbnail) %>
    <% end %>
    <%= form_for @owner, url: owner_image_path, html: {multipart: true} do |f| %>

    <%= f.file_field :image %>
    <%= submit_tag " Update" %>

    <% end %>
  </div>


  <div class="row">
   <div class="col-md-4">
        
        <h1>My Info:</h1>

        <h4><a href="/owners/<%= current_owner.id %>/edit"><%= @current_owner.first_name %> <%= @current_owner.last_name %></a></h4>

        <h5> </h5>
        <h5> <%= @current_owner.email %></h5>
        <h5> <%= @current_owner.address %> </h4>
        <h5><%= @current_owner.city %>, <%= @current_owner.state %> <%= @current_owner.zip_code %></h5>
        <h5> <%= @current_owner.phone_number %></h5>
        <br>
        <h5>About Me: </h5>
        <h6><%= @current_owner.bio %></h6>  
  </div>
  

  
      
     




    
     <div class="col-md-4">
        <h1>My Dogs.</h1>
        <br>
        <h6><% @current_owner.dogs.each do |dog| %>
          
             <h4><a href="/dogs/<%= dog.id %>"><%= dog.name%></a></h4>
              </h6>
               <br> 
             
            
           <% end %>
        </h6>
        <br>
      </div>
    


  
      <div class="col-md-4">
        <h1>Walks.</h1>
        <br>
          <div >
            <h6><% @current_owner.walks = Walk.where(status: "walk requested") %>
            <% @current_owner.walks.each do |walk| %>
             <h4><a href="/walks/<%= walk.id %>/edit"><%= walk.name %></h4>
             <h6></a>
             
             <br>
          </div>
         <% end %>
        </h6>
        <br>
     </div>
    </div>
</div>

<br>

<div class="row">
  <div id="map">
    <div class="col-md-12">
    
  <script>
    function initMap() {
    var uluru = {lat: 42.0884, lng: -87.9806};




    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }




  </script>


  <!-- Replace the value of the key parameter with your own API key. -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQj3QdUnO3bLJfj4gbfDo9983DjWJe_w&callback=initMap">
  </script>
    </div>


  </div>

 </div>
        

    




  

