


<h1>Add a Dog</h1>

<%= form_tag '/dogs', method: :post do %>

  <div>
      <%= text_field_tag :name, nil, placeholder: 'Dogs Name' %>
  </div>

  <div>
      <%= text_field_tag :breed, nil, placeholder: 'Breed' %>
  </div>

  <div>
      <%= text_field_tag :gender, nil, placeholder: 'Gender' %>
  </div>
  
  <%= submit_tag "Add Puppy" %>

 <% end %>