<% @dog = Dog.find(params[:id]) %>
<div>

<% if @dog.image_file_name %>
  <%= image_tag @dog.image.url(:thumbnail) %>
<% end %>

  <% if current_owner %>

    <%= form_for @dog, url: dog_image_path, html: {multipart: true} do |f| %>
        <%= f.file_field :image %>
        <%= submit_tag "Update" %>
     <% end %>
  <% end %>

     
 
<h3><a href="/dogs/<%= @dog.id %>/edit"><%= @dog.name%></a></h3>


<div class="dog">
  
<h3><%= @dog.breed %></h3>
<h4><%= @dog.gender %></h4>
<h5><%= @dog.age %> years old.</h5>
<h3><%=  %></h3>
</div>


<% if current_owner %>
  
  <div>
    <a href="/dogs/<%= @dog.id %>/walks/new">Request a walk.</a>
  </div>
<% end %>



