<% @dog = Dog.find(params[:id]) %>

<h1>Need your dog walked? Request below.</h1>

<%= form_tag '/walks', method: :post do %>

   
    <%= hidden_field_tag :first_name, @current_owner.first_name %>
    <%= hidden_field_tag :last_name, @current_owner.last_name %>
    <%= hidden_field_tag :dog_id, @dog.id %>
  <br>
  <div>
    <h4>Pups info</h4>
  </div>
  <div>
    <%= text_field_tag :name, @dog.name %>
  </div>  
  <div>

    <%= text_field_tag :breed, @dog.breed %>
  </div>
  <div>
    <%= text_field_tag :age, @dog.age %>  years old. 
  </div>
  <div>
    <%= text_field_tag :gender, @dog.gender %>
  </div>

  

<%= submit_tag "Request a walk!" %>


<% end %>

